<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="ppluy.svg" alt="Logo Plataforma Por la Libertad">
            </div>
            <div class="footer-links">
                <h4>Enlaces Rápidos</h4>
                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li><a routerLink="/quienes-somos">Quiénes Somos</a></li>
                    <li><a routerLink="/propuestas">Propuestas</a></li>
                    <li><a routerLink="/noticias">Noticias</a></li>
                    <li><a routerLink="/contacto">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <h4>Contacto</h4>
                <p>Email: militanciappl@gmail.com</p>
                <p>Teléfono: +598 93 812 835</p>
                <div class="social-links">
                    <a href="https://www.facebook.com/share/17NfWpGyQX/" target="_blank" rel="noopener noreferrer" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
                    <a href="https://x.com/PPLuy_" target="_blank" rel="noopener noreferrer" aria-label="X"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="https://www.tiktok.com/@militanciappl?_t=ZM-90gO10MBANs&_r=1" target="_blank" rel="noopener noreferrer" aria-label="TikTok"><i class="fab fa-tiktok"></i></a>
                    <a href="https://www.instagram.com/pporlalibertaduy?igsh=bWJ1eHhpZDNkeWFt" target="_blank" rel="noopener noreferrer" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Plataforma Por la Libertad. Todos los derechos reservados. | <a routerLink="/politicas-cookies">Políticas de Cookies</a> | <a routerLink="/terminos-condiciones">Términos y Condiciones</a> | <a routerLink="/politica-privacidad">Política de Privacidad</a></p>
        </div>
    </div>
</footer>
